body {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#camera {
  position: relative;  
}

#menu {
  background: none;
  background-image: url( ../img/menu.black.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  height: 48px;
  left: 8px;
  outline: none;
  position: absolute;
  top: 8px;
  width: 48px;  
}
